.navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    font-weight: bold;
}

#navbarbrand
{
    color: #2CD4A7;
}

.navbar-custom .navbar-item .nav-link
{
    color: #2CD4A7;
}

.nav-link
{
    color: #1D695B;
}

.nav-link:hover
{
    background-color: #2CD4A7;
}

.container-fluid
{
    min-height:100%;
    min-width:100%;
}

#background-div
{
    height: 600px;
    width: 500px;
    padding-left: 0px;
    padding-right: 0px;
}

.background-img
{
    height: 80%;
    width: 100%;
    background: url("img/home.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

/*

.header-img
{
    object-position: -20% 0;
    object-fit: cover;
}
*/
