.navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    font-weight: bold;
}

#navbarbrand
{
    color: #2CD4A7;
}

.navbar-custom .navbar-item .nav-link
{
    color: #2CD4A7;
}

.nav-link
{
    color: #1D695B;
}

.nav-link:hover
{
    background-color: #2CD4A7;
}

.title-color
{
    padding: 300px 0 70px;
    position: relative;
    z-index: 1;
    display: block;
}

#index-title
{
    background-color: #2CD4A7;
}

#portfolio-title
{
    background-color: #2FDEDB;
}

#about-title
{
    background-color: #33C6B8;
}


.container
{
    min-height:100%;
    min-width:100%;
}

.title-display
{
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    text-align: justify;
}
