{% if lang == 'en' %}
    {% extends "layout_en.html" %}
{% else %}
    {% extends "layout.html" %}
{% endif %}

{% block title %}
    Über mich
{% endblock %}

{% block main %}

    <section class="home-content">
        <div class="row portfolio-row justify-content-center">
            <div class="col-md-5">
                <div class="text-center">
                    {% if lang == 'en' %}
                        <h2 class="about-header">My learning path</h2>
                    {% else %}
                        <h2 class="about-header">Mein Lernpfad</h2>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="timeline">
            <div class="container-timeline left">
                <div class="content">
                        <h2>2016</h2>
                        {% if lang == 'en' %}
                            <p><a target="_blank" class="about-link" href="https://www.codecademy.com/learn/learn-python">Codecademy course</a>:
                                Python course with structured mini projects.
                            </p>
                        {% else %}
                            <p><a target="_blank" class="about-link" href="https://www.codecademy.com/learn/learn-python">Codecademy-Kurs</a>:
                                Python-Kurs mit strukturierten Mini-Projekten.
                            </p>
                        {% endif %}
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                        <h2>2018</h2>
                        {% if lang == 'en' %}
                            <ul>
                                <li>
                                    <a target="_blank" class="about-link" href="https://www.edx.org/course/cs50s-introduction-to-computer-science">CS50's Intro to Computer Science</a>:
                                    HarvardX course with projects in C, HTML, CSS, JavaScript, Python and SQL.
                                </li>
                                <li>
                                    <a target="_blank" class="about-link" href="https://dash.generalassemb.ly/">General Assembly's Dash</a>:
                                    Web development course in HTML, CSS and JavaScript.
                                </li>
                                <li>
                                    <a target="_blank" class="about-link" href="https://www.udacity.com/course/intro-to-data-science--ud359">Udacity's Intro to Data Science</a>:
                                    Introduction to data wrangling, data analysis, data visualization and MapReduce in Python.
                                </li>
                                <li>
                                    <a target="_blank" class="about-link" href="https://www.udacity.com/course/data-wrangling-with-mongodb--ud032">Udacity's Data Wrangling with MongoDB</a>:
                                    Course on data extraction, incl. web scraping, data quality checking and MongoDB.
                                </li>
                            </ul>
                        {% else %}
                            <ul>
                                <li>
                                    <a target="_blank" class="about-link" href="https://www.edx.org/course/cs50s-introduction-to-computer-science">CS50's Intro to Computer Science</a>:
                                    HarvardX-Kurs mit Projekten in C, HTML, CSS, JavaScript, Python und SQL.
                                </li>
                                <li>
                                    <a target="_blank" class="about-link" href="https://dash.generalassemb.ly/">General Assembly's Dash</a>:
                                    Webentwicklungskurs in HTML, CSS und JavaScript.
                                </li>
                                <li>
                                    <a target="_blank" class="about-link" href="https://www.udacity.com/course/intro-to-data-science--ud359">Udacity's Intro to Data Science</a>:
                                    Einführung in Data Wrangling, Data Analysis, Data Visualization und MapReduce in Python.
                                </li>
                                <li>
                                    <a target="_blank" class="about-link" href="https://www.udacity.com/course/data-wrangling-with-mongodb--ud032">Udacity's Data Wrangling with MongoDB</a>:
                                    Kurs zu Data Extraction, inkl. Web Scraping, Data Quality Checking und MongoDB.
                                </li>
                            </ul>
                        {% endif %}
                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                        <h2>2019</h2>
                        {% if lang == 'en' %}
                            <ul>
                                <li>
                                    <a target="_blank" class="about-link" href="https://www.udacity.com/course/data-scientist-nanodegree--nd025">Udacity's Data Scientist Nanodegree</a>:
                                    In 2019, this course also included <a target="_blank" class="about-link" href="https://www.udacity.com/course/machine-learning-engineer-nanodegree--nd009t">
                                    Udacity's Machine Learning Engineer Nanodegree</a>; Machine learning, deep learning, software
                                    and data engineering, recommendation systems.
                                </li>
                                <li>
                                    Data Science Basics seminar as part of my Master's degree: Introduction to supervised ML
                                    and academic final project in time series forecasting.
                                </li>
                            </ul>
                        {% else %}
                            <ul>
                                <li>
                                    <a target="_blank" class="about-link" href="https://www.udacity.com/course/data-scientist-nanodegree--nd025">Udacity's Data Scientist Nanodegree</a>:
                                    Dieser Kurs beinhaltete 2019 auch den <a target="_blank" class="about-link" href="https://www.udacity.com/course/machine-learning-engineer-nanodegree--nd009t">
                                    Machine Learning Engineer Nanodegree</a>; Machine Learning, Deep Learning, Software
                                    and Data Engineering, Recommendation Systems.
                                </li>
                                <li>
                                    Data Science Basics Seminar als Teil meines Masterstudiengangs: Einführung in Supervised ML
                                    und wissenschaftliches Abschlussprojekt in Time Series Forecasting.
                                </li>
                            </ul>
                        {% endif %}
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                        <h2>2020</h2>
                        {% if lang == 'en' %}
                            <p><a target="_blank" class="about-link" href="https://www.udacity.com/course/data-structures-and-algorithms-in-python--ud513">
                                Udacity's Intro to Data Structures and Algorithms</a>:
                                Course on different algorithms and data structures, incl. time- and space-efficiency,
                                search and sort algorithms, maps, hashing, trees and list-based collections.
                            </p>
                        {% else %}
                            <p><a target="_blank" class="about-link" href="https://www.udacity.com/course/data-structures-and-algorithms-in-python--ud513">
                                Udacity's Intro to Data Structures and Algorithms</a>:
                                Kurs zu unterschiedlichen Algorithmen und Datenstrukturen, inkl. Time- and Space-Efficiency,
                                Search and Sort Algorithms, Maps, Hashing, Trees und List-Based Collections.
                            </p>
                        {% endif %}
                </div>
            </div>
        </div>

        <div class="row portfolio-row justify-content-center">
            <div class="col-md-8">
                <hr/>
            </div>
        </div>

        <div class="row about-row justify-content-center">
            <div class="col-12 p-0 text-center">
                {% if lang == 'en' %}
                    <h2 class="about-header">My skills:</h2>
                {% else %}
                    <h2 class="about-header">Meine Kenntnisse:</h2>
                {% endif %}
            </div>
        </div>
        <div class="row row-legend justify-content-center">
            <div class="col-12 p-0 text-center">
                <p>
                    1 - Basic<span class="about-legend"></span>
                    2 - Novice<span class="about-legend"></span>
                    3 - Intermediate
                </p>
                <p class="m-0">
                    4 - Advanced<span class="about-legend"></span>
                    5 - Expert
                </p>
            </div>
        </div>
        <div class="row row-legend justify-content-center about-header">
            {% if lang == 'en' %}
                Hover cursor over bars for more information
            {% else %}
                Mauszeiger über Balken bewegen für mehr Informationen
            {% endif %}
        </div>
        <div class="row about-row justify-content-center">
            {% for topic, one_skill in skills.items() %}
            <div class="col-lg-3 col-md-6 col-12">
                <div class="skill-cat text-center">
                    <h5>{{ topic }}</h5>
                </div>
                <div class="row">
                    {% for item in one_skill %}
                    {% set level = item[1]/5*100 %}
                    <div class="col-12 text-right">
                        <p>{{ item[0] }} - {{ item[1] }}</p>
                        <div class="skill-bar">
                            <div class="skill-spec" style="width: {{ level }}%;">
                            </div>
                            <span class="tooltiptext">{{ item[2] }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
