{% extends "layout.html" %}

{% block title %}
    Über mich
{% endblock %}

{% block main %}

    <section class="home-content">
        <div class="row portfolio-row justify-content-center">
            <div class="col-md-5">
                <div class="text-center">
                    <h2 class="about-header">Mein Lernpfad</h2>
                </div>
            </div>
        </div>
        <div class="timeline">
            <div class="container-timeline left">
                <div class="content">
                        <h2>2016</h2>
                        <p><a class="about-link" href="https://www.codecademy.com/learn/learn-python">Codecademy-Kurs</a>:
                            Python-Kurs mit strukturierten Mini-Projekten.
                        </p>
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                        <h2>2018</h2>
                        <ul>
                            <li>
                                <a class="about-link" href="https://www.edx.org/course/cs50s-introduction-to-computer-science">CS50's Intro to Computer Science</a>:
                                HarvardX-Kurs mit Projekten in C, HTML, CSS, JavaScript, Python und SQL.
                            </li>
                            <li>
                                <a class="about-link" href="https://dash.generalassemb.ly/">General Assembly's Dash</a>:
                                Webentwicklungskurs in HTML, CSS und JavaScript.
                            </li>
                            <li>
                                <a class="about-link" href="https://www.udacity.com/course/intro-to-data-science--ud359">Udacity's Intro to Data Science</a>:
                                Einführung in Data Wrangling, Data Analysis, Data Visualization und MapReduce in Python.
                            </li>
                            <li>
                                <a class="about-link" href="https://www.udacity.com/course/data-wrangling-with-mongodb--ud032">Udacity's Data Wrangling with MongoDB</a>:
                                Kurs zu Data Extraction, inkl. Web Scraping, Data Quality Checking und MongoDB.
                            </li>
                        </ul>
                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                        <h2>2019</h2>
                        <ul>
                            <li>
                                <a class="about-link" href="https://www.udacity.com/course/data-scientist-nanodegree--nd025">Udacity's Data Scientist Nanodegree</a>:
                                Dieser Kurs beinhaltete 2019 auch den <a class="about-link" href="https://www.udacity.com/course/machine-learning-engineer-nanodegree--nd009t">
                                Machine Learning Engineer Nanodegree</a>; Machine Learning, Deep Learning, Software
                                and Data Engineering, Recommendation Systems.
                            </li>
                            <li>
                                Data Science Basics Seminar als Teil meines Masterstudiengangs: Einführung in Supervised ML
                                und wissenschaftliches Abschlussprojekt in Time Series Forecasting.
                            </li>
                        </ul>
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                        <h2>2020</h2>
                        <p><a class="about-link" href="https://www.udacity.com/course/data-structures-and-algorithms-in-python--ud513">
                            Udacity's Intro to Data Structures and Algorithms</a>:
                            Kurs zu unterschiedlichen Algorithmen und Datenstrukturen, inkl.Time- and Space-Efficiency,
                            Search and Sort Algorithms, Maps, Hashing, Trees und List-Based Collections
                        </p>
                </div>
            </div>
        </div>

        <div class="row portfolio-row justify-content-center">
            <div class="col-md-8">
                <hr/>
            </div>
        </div>

        <div class="row portfolio-row justify-content-center">
            <div class="col-md-5">
                <div class="text-center">
                    <h2 class="about-header">Meine Skills:</h2>
                    {% for skill in skills %}
                        <p><span class="about-header">{{ skill[0] }}: </span>{{ skill[1] }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
