{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}


    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-auto" id="background-div">
                <div class="background-img"></div>
                <!-- <img src="static/img/home.png" class="header-img"> -->
                <div class="text-center">
                    DATA SCIENCE & SUSTAINABILITY
                </div>
            </div>
        </div>
    </div>

    <div class="small text-center text-muted">
        Title image: &copy; Julia Nikulski
    </div>

{% endblock %}
