{% if lang == 'en' %}
    {% extends "layout_en.html" %}
{% else %}
    {% extends "layout.html" %}
{% endif %}

{% block title %}
    Index
{% endblock %}

{% block section %}

    <section class="home-content">
        <div class="container">
            <div class="row portfolio-row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="row justify-content-center">
                        <div class="text-center">
                            {% if lang == 'en' %}
                                <h2 class="index-header">My latest project</h2>
                            {% else %}
                                <h2 class="index-header">Mein neuestes Projekt</h2>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-center">
                            <h5>{{ latest_project["title"] }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="image">
                            {% set image = "/static/img/" + latest_project["image"] + ".png" %}
                            <a target="_blank" href={{ latest_project["url"] }}>
                                <img class="portfolio-img" src={{ image }}>
                            </a>
                        </div>
                    </div>
                    <div class="index-bottom text-center">
                        <p>
                            {% if lang == 'en' %}
                                <a class="about-link" href="/en/portfolio">This way</a> to see more of my projects.
                            {% else %}
                                <a class="about-link" href="/de/portfolio">Hier</a> geht's lang zu meinen anderen Projekten.
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="row justify-content-center">
                        <div class="text-center">
                            {% if lang == 'en' %}
                                <h2 class="index-header">My latest blog post</h2>
                            {% else %}
                                <h2 class="index-header">Mein neuester Blog Post</h2>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row index-img text-center">
                            <h5>{{ blog_article["title"] }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="image">
                            {% set image = "/static/img/" + blog_article["image"] + ".png" %}
                            <a target="_blank" href={{ blog_article["url"] }}>
                                <img class="portfolio-img" src={{ image }}>
                            </a>
                        </div>
                    </div>
                    <div class="index-bottom text-center">
                        <p>
                            {% if lang == 'en' %}
                                And <a target="_blank" class="about-link" href="https://medium.com/@julia.nikulski">this way</a> to see more of my blog posts.
                            {% else %}
                                Und <a target="_blank" class="about-link" href="https://medium.com/@julia.nikulski">hier</a> zu meinen anderen Blog Posts.
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
