<!doctype html>

<!-- This entire layout structure is taken from CS50s finance implementation https://finance.cs50.net/login -->

<html lang="en">

    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89966424-1"></script>


        <!-- This is taken from Bootstrap https://getbootstrap.com/docs/4.4/getting-started/introduction/-->
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- own additional style sheet -->
        <link href="/static/styles.css" rel="stylesheet">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168103075-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-168103075-1', {'anonymize_ip': true });
        </script>


        <!-- Disallow crawlers to index this website -->
        <meta name="robots" content="noindex">

        <title>Julia Nikulski</title>
        <link rel="icon" href="/static/img/home.png">

        <!-- mobile first bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1">


    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border sticky-top">
            <a class="navbar-brand" id="{{ id }}-navbarbrand" href="/en">Julia Nikulski</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto mt-2">
                    <li class="nav-item">
                        <a class="nav-link" id="{{ id }}-nav-link" href="/en/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="{{ id }}-nav-link" href="/en/portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" class="nav-link" id="{{ id }}-nav-link" href="https://medium.com/@julia.nikulski">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="{{ id }}-nav-link" href="/en/about">About me</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item">
                        <a target="_blank" class="nav-link" id="{{ id }}-nav-link" href="https://github.com/julianikulski">GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" class="nav-link" id="{{ id }}-nav-link" href="https://www.kaggle.com/juliajemals">Kaggle</a>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" class="nav-link" id="{{ id }}-nav-link" href="https://www.linkedin.com/in/julia-nikulski/">LinkedIn</a>
                    </li>
                    <li class="nav-item">
                        <form method="post">
                            <button type="submit" name="lang" class="btn" id="{{ id }}-btn-lang" value="de">DE</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="container p-0">
            <section class="title-color" id="{{ id }}-title">
                <div class="title-container">
                    <div class="row title-text">
                        <div class="col-12 col-sm-9 col-md-7 col-lg-6 additional-margin">
                            <div class="title-description">
                                <p>{{title_text}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row title-text">
                        <div class="col-auto additional-margin">
                            <p>{{title}}</p>
                        </div>
                    </div>
                </div>
            </section>

            {% block main %}{% endblock %}
        </main>

        <footer class="small text-center text-muted">
            <a href="/en/impressum" class="text-dark">Legal Notice</a> |
            <a href="/en/datenschutz" class="text-dark">Privacy</a>
            <p class="copyright">Copyright &copy; 2020 | Julia Nikulski</p>
        </footer>


    </body>

</html>
