{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <section class="home-content">
        <div class="container">

            {% for two_projects in projects %}
            <div class="row portfolio-row justify-content-around">
                {% if two_projects[1][0] == "placeholder" %}
                <div class="col-12 col-md-4">
                    <div class="text-center">
                        <h5>{{ two_projects[0][0] }}</h5>
                        <p class="project-des">
                            {{ two_projects[0][1] }}
                        </p>
                        <p class="skills">
                            <span class="bold">Skills:</span> {{ two_projects[0][2] }}
                        </p>
                    </div>
                    <div class="row">
                        <img class="portfolio-img" src="/static/img/{{ two_projects[0][3]}}.png">
                    </div>
                    <div class="row">
                        <div class="col-6 text-center">
                            <button type="button" class="btn portfolio-btn rounded-0">Code</button>
                        </div>
                        <div class="col-6 text-center">
                            <button type="button" class="btn portfolio-btn rounded-0"">Blog Post</button>
                        </div>
                    </div>
                </div>
                {% else %}
                    {% for project in two_projects %}
                        <div class="col-12 col-md-4">
                            <div class="text-center">
                                <h5>{{ project[0] }}</h5>
                                <p class="project-des">
                                    {{ project[1] }}
                                </p>
                                <p class="skills">
                                    <span class="bold">Skills:</span> {{ project[2] }}
                                </p>
                            </div>
                            <div class="row">
                                <img class="portfolio-img" src="/static/img/{{ project[3]}}.png">
                            </div>
                            <div class="row">
                                <div class="col-6 text-center">
                                    <button type="button" class="btn portfolio-btn rounded-0">Code</button>
                                </div>
                                <div class="col-6 text-center">
                                    <button type="button" class="btn portfolio-btn rounded-0"">Blog Post</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% endfor %}


            <!--


            <div class="row portfolio-row justify-content-around">
                <div class="col-12 col-md-4">
                    <div class="text-center">
                        <h5>Webcrawler for Job Listings</h5>
                        <p class="project-des">
                            Ich habe einen Webcrawler entwickelt, der täglich auf Karriereseiten von
                            Unternehmen nach neuen Jobs sucht, die Links in einer PostgreSQL Datenbank
                            speichern und eine Telegram-Nachricht an den User versenden.
                        </p>
                    </div>
                    <div class="row">
                        <img class="portfolio-img" src="/static/img/job-scraper.png">
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button type="button" class="btn portfolio-btn rounded-0"">Blog Post</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="text-center">
                        <h5>Analysis of the Airbnb Market in Boston</h5>
                        <p class="project-des">
                            Eine explorative Datenanalyse von Airbnb-Listings und -Bookings in
                            Boston, USA, mit der Visualisierung der Ergebnisse.
                        </p>
                    </div>
                    <div class="row">
                        <img class="portfolio-img" src="/static/img/airbnb.png">
                    </div>
                    <div class="row">
                        <div class="col-6 text-center">
                            <button type="button" class="btn portfolio-btn rounded-0">Code</button>
                        </div>
                        <div class="col-6 text-center">
                            <button type="button" class="btn portfolio-btn rounded-0"">Blog Post</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row portfolio-row justify-content-around">
                <div class="col-12 col-md-4">
                    <div class="text-center">
                        <h5>Climate Change Dashboard</h5>
                        <p class="project-des">
                            Ich habe Plotly verwendet, um einen Überblick über Daten zum Klimawandel
                            von der Weltbank in verschiedenen Grafiken darzustellen.
                        </p>
                    </div>
                    <div class="row">
                        <img class="portfolio-img" src="/static/img/climate-change-dashboard.png">
                    </div>
                    <div class="row">
                        <div class="col-6 text-center">
                            <button type="button" class="btn portfolio-btn rounded-0"">Code</button>
                        </div>
                        <div class="col-6 text-center">
                            <button type="button" class="btn portfolio-btn rounded-0"">Dashboard</button>
                        </div>
                    </div>
                </div>


        -->
    </section>

{% endblock %}
