{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <section class="home-content">
        <div class="container">
            <div class="row portfolio-row justify-content-around">
                <div class="col-12 col-md-4">
                    <div class="text-center">
                        <h5>Movie revenue prediction</h5>
                        <p class="project-des">
                            I used data from The Movie Database to predict revenues of movies
                            with the supervised learning algorithms AdaBoost, XGBoost and LightGBM.
                        </p>
                    </div>
                    <div class="row">
                        <img class="portfolio-img" src="/static/img/Movie prediction.png">
                    </div>
                    <div class="row">
                        <div class="col-6 text-center">
                            <button type="button" class="btn portfolio-btn rounded-0">Code</button>
                        </div>
                        <div class="col-6 text-center">
                            <button type="button" class="btn portfolio-btn rounded-0"">Blog Post</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="text-center">
                        <h5>Identifying customer segments</h5>
                        <p class="project-des">
                            In this unsupervised machine learning project I leveraged PCA and
                            K-Means Clustering to identify segments of the German population as
                            potential new customers for an online retailer.
                        </p>
                    </div>
                    <div class="row">
                        <img class="portfolio-img" src="/static/img/Customer segments.png">
                    </div>
                    <div class="row">
                        <div class="col-6 text-center">
                            <button type="button" class="btn portfolio-btn rounded-0">Code</button>
                        </div>
                        <div class="col-6 text-center">
                            <button type="button" class="btn portfolio-btn rounded-0"">Blog Post</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row portfolio-row justify-content-around">
                <div class="col-12 col-md-4">
                    <div class="text-center">
                        <h5>Webcrawler für Jobangebote</h5>
                        <p class="project-des">
                            Ich habe einen Webcrawler entwickelt, der täglich auf Karriereseiten von
                            Unternehmen nach neuen Jobs sucht, die Links in einer PostgreSQL Datenbank
                            speichern und eine Telegram-Nachricht an den User versenden.
                        </p>
                    </div>
                    <div class="row">
                        <img class="portfolio-img" src="/static/img/job-scraper.png">
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button type="button" class="btn portfolio-btn rounded-0"">Blog Post</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="text-center">
                        <h5>Analyse des Airbnb-Marktes in Boston, Massachusetts</h5>
                        <p class="project-des">
                            Eine explorative Datenanalyse von Airbnb-Listings und -Bookings in
                            Boston, USA, mit der Visualisierung der Ergebnisse.
                        </p>
                    </div>
                    <div class="row">
                        <img class="portfolio-img" src="/static/img/airbnb.png">
                    </div>
                    <div class="row">
                        <div class="col-6 text-center">
                            <button type="button" class="btn portfolio-btn rounded-0">Code</button>
                        </div>
                        <div class="col-6 text-center">
                            <button type="button" class="btn portfolio-btn rounded-0"">Blog Post</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row portfolio-row justify-content-around">
                <div class="col-12 col-md-4">
                    <div class="text-center">
                        <h5>Climate Change Dashboard</h5>
                        <p class="project-des">
                            Ich habe Plotly verwendet, um einen Überblick über Daten zum Klimawandel
                            von der Weltbank in verschiedenen Grafiken darzustellen.
                        </p>
                    </div>
                    <div class="row">
                        <img class="portfolio-img" src="/static/img/climate-change-dashboard.png">
                    </div>
                    <div class="row">
                        <div class="col-6 text-center">
                            <button type="button" class="btn portfolio-btn rounded-0"">Code</button>
                        </div>
                        <div class="col-6 text-center">
                            <button type="button" class="btn portfolio-btn rounded-0"">Dashboard</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="text-center">
                        <h5>Disaster Response Pipeline</h5>
                        <p class="project-des">
                            Mithilfe von Natural Language Processing und einer ETL-Pipeline
                            habe ich einen Datensatz von Tweets in verschiedene Themenbereiche kategorisiert
                        </p>
                    </div>
                    <div class="row">
                        <img class="portfolio-img" src="/static/img/disaster-response-pipeline.png">
                    </div>
                    <div class="row">
                        <div class="col-6 text-center">
                            <button type="button" class="btn portfolio-btn rounded-0">Code</button>
                        </div>
                        <div class="col-6 text-center">
                            <button type="button" class="btn portfolio-btn rounded-0"">Blog Post</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
